* {
font-family: "Arial";
margin: 0;
padding: 0;
}

h1 {
font-size: 14pt;
padding: 2px 0 2px 10px;
font-family: arial, sans-serif;
}

.Canvas {
position: absolute;
left: 50px;
top: 50px;
border: 1px solid black;
}

.Form {
position: absolute;
z-index: 100;
cursor: default;
left: 350px;
top: 75px;
}

.Thanks {
position: absolute;
z-index: 100;
cursor: default;
left: 350px;
top: 125px;
}
